

<header id="nav-bar" class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div id="header-container">
                    <h5>&copy; 2013BudInv</h5>
                    <div class="dropdown">
                        <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" >
                            2013
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="budget.html">Budget</a></li>
                            <li class="dropdown-submenu">
                                <a href="#">Expenses by month</a>
                                <ul class="dropdown-menu">
                                    <li><a href="january.html">January</a></li>
                                    <li><a href="february.html">February</a></li>
                                    <li><a href="#">March</a></li>
                                    <li><a href="#">April</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Start a new month</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="index.html">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="top-info" class="pull-right">
                <a href="#" class="pull-left">
                    <div class="top-info-block">
                        <h3>FirstName</h3>
                        <h4>LastName</h4>
                    </div>
                    <div class="top-info-block">
                        <b class="icon-user"></b>
                    </div>
                </a>
                <hr class="separator pull-left"/>
                <a id="settings" class="pull-left" href="#">
                    <b class="icon-settings"></b>
                </a>
            </div>
        </div>
    </header>

<div class="container">
    <h1>Monthly budget</h1>

    <p class="lead">Summary by categories:</p>

    <h2 ng-repeat="type in types" class="text-{{type.color1}}">
        <div class="row">
            <div class="span8">{{type.name}}:</div>
            <div class="span3">{{type.amount}} EUR</div>
            <div class="span1"><a href="{{'#/budget/'+year+'/'+type.code}}" class="btn btn-{{type.color2}}">Review</a></div>
        </div>
    </h2>

    <hr/>

    <p class="lead">This is your budget distribution by category:</p>

    <p>
        <ul>
            <li ng-repeat="type in types"><strong class="text-{{type.color1}}">{{type.percentage}} %</strong> is used for {{type.name}}</li>
        </ul>
    </p>

    <p>
        <div class="progress">
            <div ng-repeat="type in types" class="bar bar-{{type.color2}}" style="width: {{type.percentage}}%;"></div>
        </div>
    </p>
</div>

